# 金融时间序列分析处理

In [1]:
import numpy as np
import pandas as pd
import datetime               #  datetime比time高级一些
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline 
import warnings; warnings.simplefilter('ignore') #忽略可能会出现的警告信息，警告并不是错误，可以忽略；

Framework：四大模块

### 1. Python下的日期格式——Datetime数据及相关转换

--datetime  
--timedelta：时间差；

In [10]:
datetime.now #tab  from datetime import datetime  tz----时区 time zone

In [11]:
now =datetime.now()
print(now)
print(type(now))

2019-06-10 15:40:56.088666
<class 'datetime.datetime'>

In [12]:
now = datetime.now()         #datetime以毫秒形式存储日期和时间；
print(now)
print(type(now))

2019-06-10 15:42:34.729186
<class 'datetime.datetime'>

In [13]:
print('{}年{}月{}日'.format(now.year, now.month, now.day))      #字符串格式化；

2019年6月10日

In [14]:
datetime.now() - datetime(2017, 8, 19)

datetime.timedelta(days=660, seconds=56567, microseconds=844620)

#### 1.1 时间格式的转换

In [15]:
dt_time = datetime(2017, 6, 18)
dt_time

datetime.datetime(2017, 6, 18, 0, 0)

In [16]:
# 把时间格式的数据转换成为str格式的数据
str_time = str(dt_time)
print(type(str_time))
print(type(dt_time))

<class 'str'>
<class 'datetime.datetime'>

In [17]:
str_time

'2017-06-18 00:00:00'

In [18]:
str_time2 = dt_time.strftime('%d/%m/%Y')       #用.strftime()方法可以调整年月日的格式；f：format；
print(str_time2)
print(type(str_time2))

18/06/2017
<class 'str'>

#### 1.2 将字符串转化为datetime格式3种方法

非常重要，如果不是时间类型的数据的话，很多操作是无法完成的

In [14]:
# 方法1
dt_str = '2017-06-18'
dt_time = datetime.strptime(dt_str, '%Y-%m-%d')     #datetime.strptime(),p:parse:解析
print(type(dt_time)) 
print(dt_time)

<class 'datetime.datetime'>
2017-06-18 00:00:00

In [23]:
# 方法2
from dateutil.parser import parse
dt_str2 = '01-06-2017'
#dt_time2 = parse(dt_str2)    
dt_time2 = parse(dt_str2, dayfirst = True)   #dayfirst代表原来字符串日期开头
print(type(dt_time2)) 
print(dt_time2)

<class 'datetime.datetime'>
2017-06-01 00:00:00

In [20]:
# 方法3
str_time = pd.Series(['2017/06/18', '2017/06/19', '2017-06-20', '2017-06-21'], name='Course_time')
str_time

0    2017/06/18
1    2017/06/19
2    2017-06-20
3    2017-06-21
Name: Course_time, dtype: object

In [21]:
dt_time = pd.to_datetime(str_time)
dt_time

0   2017-06-18
1   2017-06-19
2   2017-06-20
3   2017-06-21
Name: Course_time, dtype: datetime64[ns]

### 2. Pandas下的时间格式

--timestamp：pandas 最基本的时间日期对象是TimeStamp，这个对象与 datetime 对象保有高度兼容性，可通过.to_datetime() 函数转换。  
--DatetimeIndex: pandas下的时间索引格式；  
--pd.date_range() 可用于生成指定长度的 DatetimeIndex。参数可以是起始结束日期，或单给一个日期，加一个时间段参数。日期是包含的。  
--Period：时期（period）概念不同于前面的时间戳（timestamp），指的是一个时间段。但在使用上并没有太多不同，pd.Period 类的构造函数仍需要一个时间戳，以及一个 freq 参数。

#### 2.1 DatetimeIndex和TImestamp

In [25]:
# 使用datetime格式列表创建DatetimeIndex
dates = [datetime(2016, 8, 1), datetime(2016, 8, 2)]
# dates = ['2016, 8, 1', '2016, 8, 2']
dates = pd.DatetimeIndex(dates)   #把python下的datetime转换成为pandas下的时间索引DatatimeIndex；
dates

DatetimeIndex(['2016-08-01', '2016-08-02'], dtype='datetime64[ns]', freq=None)

In [26]:
# 如果一个Series创建时参数输入一个datetime列表，那么会自动将其转化为 DatetimeIndex并以其作为索引
df = pd.Series(np.random.randn(2), index = dates)
df

2016-08-01   -0.084659
2016-08-02    0.363637
dtype: float64

In [27]:
df.index

DatetimeIndex(['2016-08-01', '2016-08-02'], dtype='datetime64[ns]', freq=None)

In [28]:
df.index[0]

Timestamp('2016-08-01 00:00:00')

In [31]:
# 使用字符串进行索引
df['2016-08-01']

-0.08465931292329704

In [32]:
df['2016-08']

2016-08-01   -0.084659
2016-08-02    0.363637
dtype: float64

In [33]:
# 将字符串列表转化为DatetimeIndex
date_time = pd.to_datetime(['June 18, 2017', '2016-06-19', 
                      '2016.6.20', None])
date_time

DatetimeIndex(['2017-06-18', '2016-06-19', '2016-06-20', 'NaT'], dtype='datetime64[ns]', freq=None)

In [34]:
# 创建一个连续10天的DatetimeIndex并以其为索引创建Series. pd.date_range()专门用于生产datetimeIndex；
dates = pd.date_range('8/1/2014', periods=10)
df = pd.Series(np.random.randn(10), index = dates)
df.head()

2014-08-01   -1.547152
2014-08-02    0.122931
2014-08-03    0.197364
2014-08-04   -0.749573
2014-08-05   -1.559151
Freq: D, dtype: float64

In [35]:
df.index

DatetimeIndex(['2014-08-01', '2014-08-02', '2014-08-03', '2014-08-04',
               '2014-08-05', '2014-08-06', '2014-08-07', '2014-08-08',
               '2014-08-09', '2014-08-10'],
              dtype='datetime64[ns]', freq='D')

#### 2.2 Period

In [36]:
# 创建period
time_period = pd.period_range('2017-01-01', periods = 12, freq='M')#freq='M' 按月为频率，默认为日
time_period

PeriodIndex(['2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
             '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12'],
            dtype='period[M]', freq='M')

In [37]:
date_range = pd.date_range('2017-01-01', periods = 12, freq='M')
date_range

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31'],
              dtype='datetime64[ns]', freq='M')

In [38]:
# period对象的起始时间和终止时间
time_period + 1

PeriodIndex(['2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07',
             '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01'],
            dtype='period[M]', freq='M')

In [39]:
# 创建PeriodIndex
period_index = pd.period_range('1/1/2017', '12/31/2017', freq='M')
period_index

PeriodIndex(['2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
             '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12'],
            dtype='period[M]', freq='M')

In [40]:
# 以PeriodIndex为索引创建Series
ps = pd.Series(np.random.randn(12), index = period_index)
ps

2017-01   -1.197605
2017-02    0.994873
2017-03   -0.573108
2017-04    0.032697
2017-05    1.383001
2017-06   -0.433137
2017-07   -0.721980
2017-08   -0.800307
2017-09    0.606493
2017-10   -1.452899
2017-11    0.246058
2017-12   -1.109009
Freq: M, dtype: float64

#### 2.3 应用举例

In [41]:
import tushare as ts
data = ts.get_k_data('000001', '2015-01-01', '2016-12-30')
data.index = pd.to_datetime(data['date'])
del data['date']
data.head(5)

              open   close    high     low     volume    code
date
2015-01-05  10.518  10.538  10.709  10.261  2860436.0  000001
2015-01-06  10.426  10.380  10.781  10.229  2166421.0  000001
2015-01-07  10.235  10.182  10.413  10.064  1700120.0  000001
2015-01-08  10.196   9.840  10.242   9.801  1407714.0  000001
2015-01-09   9.801   9.919  10.439   9.676  2508500.0  000001

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 488 entries, 2015-01-05 to 2016-12-30
Data columns (total 6 columns):
open      488 non-null float64
close     488 non-null float64
high      488 non-null float64
low       488 non-null float64
volume    488 non-null float64
code      488 non-null object
dtypes: float64(5), object(1)
memory usage: 26.7+ KB

In [43]:
# 提取close价格
data_close_price = data['close']
data_close_price.head(5)

date
2015-01-05    10.538
2015-01-06    10.380
2015-01-07    10.182
2015-01-08     9.840
2015-01-09     9.919
Name: close, dtype: float64

In [44]:
# 使用字符串进行切片
data['2016-01-01':'2016-01-05']

             open  close   high    low    volume    code
date
2016-01-04  9.553  8.995  9.577  8.940  563497.0  000001
2016-01-05  8.972  9.075  9.210  8.876  663269.0  000001

In [45]:
# 使用字符串索引返回以列明为索引的Series
data.loc['2016-01-04']

open       9.553
close      8.995
high       9.577
low         8.94
volume    563497
code      000001
Name: 2016-01-04 00:00:00, dtype: object

In [46]:
data_close_price['2016-01-04']

8.995

In [51]:
# 使用更高一级的时间（月）进行索引
data['2016-02'].head()

             open  close   high    low    volume    code
date
2016-02-01  7.945  7.801  7.969  7.754  417732.0  000001
2016-02-02  7.801  7.921  7.984  7.785  369104.0  000001
2016-02-03  7.841  7.841  7.873  7.777  274572.0  000001
2016-02-04  7.873  7.921  7.961  7.865  373099.0  000001
2016-02-05  7.929  7.897  7.937  7.889  270893.0  000001

In [54]:
#data['2016-02-01']    # 具体某一行是不行的，要用.loc
data.loc['2016-02-01']

open       7.945
close      7.801
high       7.969
low        7.754
volume    417732
code      000001
Name: 2016-02-01 00:00:00, dtype: object

In [48]:
data.ix['2016-02'].head()

             open  close   high    low    volume    code
date
2016-02-01  7.945  7.801  7.969  7.754  417732.0  000001
2016-02-02  7.801  7.921  7.984  7.785  369104.0  000001
2016-02-03  7.841  7.841  7.873  7.777  274572.0  000001
2016-02-04  7.873  7.921  7.961  7.865  373099.0  000001
2016-02-05  7.929  7.897  7.937  7.889  270893.0  000001

In [49]:
# 使用更高一级的时间（月）和第一级的时间（日）同时进行切片
data['2016-01':'2016-02-15'].tail()

             open  close   high    low    volume    code
date
2016-02-02  7.801  7.921  7.984  7.785  369104.0  000001
2016-02-03  7.841  7.841  7.873  7.777  274572.0  000001
2016-02-04  7.873  7.921  7.961  7.865  373099.0  000001
2016-02-05  7.929  7.897  7.937  7.889  270893.0  000001
2016-02-15  7.690  7.793  7.841  7.682  278499.0  000001

### 3. 时间序列数据的前后移动

In [55]:
# 回顾数据
data_close_price.head()

date
2015-01-05    10.538
2015-01-06    10.380
2015-01-07    10.182
2015-01-08     9.840
2015-01-09     9.919
Name: close, dtype: float64

In [1]:
# 向前平移数据，距离为一个index
yes_close_price = data_close_price.shift(1)       #1是往下移动，这是很多同学容易搞错的，那如果是-1的话则是向上移动；
yes_close_price.head()

NameError: name 'data_close_price' is not defined

In [57]:
# 计算收盘价百分比
(data_close_price / data_close_price.shift(1) - 1).head()

date
2015-01-05         NaN
2015-01-06   -0.014993
2015-01-07   -0.019075
2015-01-08   -0.033589
2015-01-09    0.008028
Name: close, dtype: float64

In [58]:
# 选取两个数据
sample = data_close_price.head(2)
sample

date
2015-01-05    10.538
2015-01-06    10.380
Name: close, dtype: float64

In [59]:
# 计算累积收益率
cum_return = (1 + (data_close_price / data_close_price.shift() - 1)).cumprod()
cum_return.head()

date
2015-01-05         NaN
2015-01-06    0.985007
2015-01-07    0.966217
2015-01-08    0.933764
2015-01-09    0.941260
Name: close, dtype: float64

### 4.时间序列数据的频率调整

#### 4.1 时间数据的聚合

In [60]:
# 计算某月中每日收益率的平均值1
cum_return['2015-02'].mean()

0.862181312076928

In [61]:
# 计算某月中每日收益率的平均值2
cum_return.resample('M', how= 'mean').head()

date
2015-01-31    0.910924
2015-02-28    0.862181
2015-03-31    0.917895
2015-04-30    1.193445
2015-05-31    1.200807
Freq: M, Name: close, dtype: float64

In [122]:
data_close_price.resample('M', how='ohlc').head()        #升采样和降采样：resample；  ohlc开高低收

              open    high     low   close
date
2015-01-31  10.708  10.708   9.244   9.311
2015-02-28   9.110   9.405   9.030   9.351
2015-03-31   9.378  10.527   8.943  10.527
2015-04-30  10.668  13.752  10.561  13.509
2015-05-31  13.363  13.444  12.279  12.393

#### 4.2 时间数据的频率转换

In [67]:
sample2 = cum_return[1:3]
sample2

date
2015-01-06    0.985007
2015-01-07    0.966217
Name: close, dtype: float64

In [74]:
sample2_by_hour = sample2.resample('H')
sample2_by_hour

DatetimeIndexResampler [freq=<Hour>, axis=0, closed=left, label=left, convention=start, base=0]

In [75]:
sample2_by_hour.fillna(method = 'ffill')

date
2015-01-06 00:00:00    0.985007
2015-01-06 01:00:00    0.985007
2015-01-06 02:00:00    0.985007
2015-01-06 03:00:00    0.985007
2015-01-06 04:00:00    0.985007
2015-01-06 05:00:00    0.985007
2015-01-06 06:00:00    0.985007
2015-01-06 07:00:00    0.985007
2015-01-06 08:00:00    0.985007
2015-01-06 09:00:00    0.985007
2015-01-06 10:00:00    0.985007
2015-01-06 11:00:00    0.985007
2015-01-06 12:00:00    0.985007
2015-01-06 13:00:00    0.985007
2015-01-06 14:00:00    0.985007
2015-01-06 15:00:00    0.985007
2015-01-06 16:00:00    0.985007
2015-01-06 17:00:00    0.985007
2015-01-06 18:00:00    0.985007
2015-01-06 19:00:00    0.985007
2015-01-06 20:00:00    0.985007
2015-01-06 21:00:00    0.985007
2015-01-06 22:00:00    0.985007
2015-01-06 23:00:00    0.985007
2015-01-07 00:00:00    0.966217
Freq: H, Name: close, dtype: float64

In [76]:
# 以线性插值方式填充空值
sample2_by_hour.interpolate()

date
2015-01-06 00:00:00    0.985007
2015-01-06 01:00:00    0.984224
2015-01-06 02:00:00    0.983441
2015-01-06 03:00:00    0.982658
2015-01-06 04:00:00    0.981875
2015-01-06 05:00:00    0.981092
2015-01-06 06:00:00    0.980309
2015-01-06 07:00:00    0.979526
2015-01-06 08:00:00    0.978744
2015-01-06 09:00:00    0.977961
2015-01-06 10:00:00    0.977178
2015-01-06 11:00:00    0.976395
2015-01-06 12:00:00    0.975612
2015-01-06 13:00:00    0.974829
2015-01-06 14:00:00    0.974046
2015-01-06 15:00:00    0.973263
2015-01-06 16:00:00    0.972481
2015-01-06 17:00:00    0.971698
2015-01-06 18:00:00    0.970915
2015-01-06 19:00:00    0.970132
2015-01-06 20:00:00    0.969349
2015-01-06 21:00:00    0.968566
2015-01-06 22:00:00    0.967783
2015-01-06 23:00:00    0.967000
2015-01-07 00:00:00    0.966217
Freq: H, Name: close, dtype: float64

#### 4.3 数据频率转换的实战应用

In [85]:
data = ts.get_tick_data('600030','2017-08-18')
data.head()

In [131]:
data.set_index('time', inplace = True)
data.sort_index(ascending=True, inplace = True)     #对索引进行排序；逆序
data.head(10)

          price change  volume    amount type
time
09:25:03  16.84  16.84    7696  12960064   买盘
09:28:42  16.84     --       0         0   买盘
09:30:01  16.80  -0.04    1442   2422560   卖盘
09:30:04  16.80     --    1895   3183600   卖盘
09:30:07  16.81   0.01    2688   4518528   买盘
09:30:10  16.78  -0.03     352    590656   卖盘
09:30:13  16.78     --      79    132562   卖盘
09:30:16  16.79   0.01     166    278714   买盘
09:30:19  16.77  -0.02     574    962598   卖盘
09:30:22  16.78   0.01     241    404398  中性盘

In [132]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4110 entries, 09:25:03 to 15:00:00
Data columns (total 5 columns):
price     4110 non-null float64
change    4110 non-null object
volume    4110 non-null int64
amount    4110 non-null int64
type      4110 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 192.7+ KB

In [133]:
data.index = pd.to_datetime(data.index)

In [134]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4110 entries, 2017-08-19 09:25:03 to 2017-08-19 15:00:00
Data columns (total 5 columns):
price     4110 non-null float64
change    4110 non-null object
volume    4110 non-null int64
amount    4110 non-null int64
type      4110 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 192.7+ KB

In [136]:
# 转化为5分钟数据
data_5m = data.resample('5T')
data_5m.head(10)

                         price       volume        amount
time
2017-08-19 09:25:00  16.840000  3848.000000  6.480032e+06
2017-08-19 09:30:00  16.782700   353.340000  5.931655e+05
2017-08-19 09:35:00  16.780505   158.656566  2.662220e+05
2017-08-19 09:40:00  16.784000    88.440000  1.484336e+05
2017-08-19 09:45:00  16.811237   130.896907  2.200446e+05
2017-08-19 09:50:00  16.806146    70.312500  1.181785e+05
2017-08-19 09:55:00  16.786702   146.361702  2.456697e+05
2017-08-19 10:00:00  16.774719    58.584270  9.825688e+04
2017-08-19 10:05:00  16.796977   102.058140  1.714395e+05
2017-08-19 10:10:00  16.800430    84.559140  1.420706e+05

In [139]:
data_5m = data['price'].resample('1T',how='ohlc')
data_5m.head(10)

                      open   high    low  close
time
2017-08-19 09:25:00  16.84  16.84  16.84  16.84
2017-08-19 09:26:00    NaN    NaN    NaN    NaN
2017-08-19 09:27:00    NaN    NaN    NaN    NaN
2017-08-19 09:28:00  16.84  16.84  16.84  16.84
2017-08-19 09:29:00    NaN    NaN    NaN    NaN
2017-08-19 09:30:00  16.80  16.81  16.74  16.74
2017-08-19 09:31:00  16.74  16.78  16.74  16.78
2017-08-19 09:32:00  16.79  16.80  16.79  16.80
2017-08-19 09:33:00  16.80  16.81  16.79  16.79
2017-08-19 09:34:00  16.79  16.79  16.78  16.78